<%- include("partials/header"); -%>


<form action="/ApiAppointmentDelete" method="POST">
  <label for="apt_selected">Please pick a date and time from the list:</label>
  <select name="apt_selected" id="apt_selected">
    <% for(int i = 0; i < data.length; i++) { %>
      <option> <%= data[i].date %> @ <%= data[i].time %> </option>
    <% } %>
  </select>

  <button type="submit" class="btn btn-secondary btn-lg">Submit</button>
</form>
<%- include("partials/footer"); -%>
