

<% if(login == true) {%>
  <%- include("partials/logout-header"); -%>
  <div class="container mt-5">
  <h2>Dashboard - Logged in as <%= data.name %></h2>


  <br>
  <form action="/appointment">
    <button type="submit" class="btn btn-primary btn-lg">Book an appointment</button>
  </form>
  <br>
  <form action="/viewAppointment">
    <button type="submit" class="btn btn-primary btn-lg">View appointments</button>
  </form>
  <br>
  <form action="/profile">
    <button type="submit" class="btn btn-secondary btn-lg">Update profile</button>
  </form>
<% } else { %>
  <%- include("partials/header"); -%>
  <div class="container mt-5">
  <div class="jumbotron">
    <h1 class="display-4">World Class Medical Clinic</h1>
    <p class="lead">Sage Medical Clinic is open six days a week with male and female physicians currently accepting new patients.</p>
    <hr class="my-4">
    <a class="btn btn-primary btn-lg" href="/register" role="button">Book an Appointment</a>
  </div>

<% } %>
</div>


<%- include("partials/footer"); -%>
